html {
    scroll-behavior: smooth;
}

.discount {
    width: 290px;
    height: 290px;
    position: fixed;
    right: 0;
    bottom: -1%;
    background-image: url(https://onbrand.me/assets/images/10percent.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
    border-top-left-radius: 15px;
    border: 2px solid white;
    box-shadow: -6px -5px 17px 4px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -moz-transform: translateY(50%);
    opacity: 0;
}

.discount-text img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 45px;
    top: 20px;
}

.discount-appear {
    width: 290px;
    height: 290px;
    position: fixed;
    right: 0;
    bottom: -1%;
    background-image: url(https://onbrand.me/assets/images/10percent.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
    border-top-left-radius: 15px;
    border: 2px solid white;
    box-shadow: -6px -5px 17px 4px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    opacity: 1;
}

.discount-disappear {
    width: 290px;
    height: 290px;
    position: fixed;
    right: 0;
    bottom: -1%;
    background-image: url(https://onbrand.me/assets/images/10percent.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
    border-top-left-radius: 15px;
    border: 2px solid white;
    box-shadow: -6px -5px 17px 4px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -moz-transform: translateY(50%);
    opacity: 0;
}

.discount,
.discount-appear,
discount-disappear {
    overflow: hidden;
}

.discount-close {
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    position: fixed;
    left: 4%;
    top: 0;
    padding: 4px;
    z-index: 99;

}

.discount-button {
    position: fixed;
    left: 65px;
    bottom: 25px;
}

@media (max-width: 750px) {


    .discount,
    .discount-appear,
    .discount-disappear {
        width: 210px;
        height: 210px;
    }

    .discount-text img {
        width: 160px;
        height: 160px;
        left: 25px;
        top: 4px;
    }

    .discount-button {
        position: fixed;
        transform: scale(0.8);
        -ms-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        left: 23px;
        bottom: 6px;
    }

}