.gradient-bar {
    height: 8px;
    height: 12px;
    background: rgb(253,66,86);
    background: -moz-linear-gradient(135deg, rgba(253,66,86,1) 0%, rgba(8,71,255,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(253,66,86,1) 0%, rgba(8,71,255,1) 100%);
    background: linear-gradient(135deg, rgba(253,66,86,1) 0%, rgba(8,71,255,1) 100%);
    position: fixed;
    top: 0;
    width: 100vw;
}
.side-navigation {
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-size: 16px;
    position: fixed;
    top: 5%;
    left: 3%;
    height: 300px;
    display: flex;
}

.side-navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    list-style: none;
}


.pre-title {
    margin-top: 48px;
    font-size: 14px;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    position: relative;
}

.pre-title-divider {
    margin-top: 32px;
    background-color: #F7EDF0;
}

.margin-top {
    margin-top: 32px;
}

h1, h2 {
    color: #44444e;
    font-family: montserrat,sans-serif;
    font-size: 54px;
    font-weight: 700;
    text-align: left;
}

h3 {
   color: #44444e;
    font-family: montserrat,sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: left; 
}


.logo-img-one img {
   height: auto;
    width: 100%;   
}

.logo-img-two img {
   height: auto;
    width: 100%;   
}

.colors {
    cursor: pointer;
}

.colors-text {
    font-family: montserrat,sans-serif;
font-size: 18px;
color: #44444E;
letter-spacing: 0;
    font-weight: 400;
line-height: 30px;
opacity: 0.1;
    transition: all 0.5s ease;

}

.colors:hover > .colors-text {
    opacity: 1;
    transition: all 0.5s ease;
}

@media (min-width: 1200px){
.container {
    width: 940px !important;
}
}

@media (max-width: 1440px){
.side-navigation {
    display: none;
}
}
    
    @media (min-width: 1200px){
.col-md-12-new {
    width: 100%;
}
}

 @media (max-width: 768px){
h1, h2 {
    font-size: 48px;
}
}