html {
  scroll-behavior: smooth;
}

.gradient-bar {
    height: 10px;
    height: 12px;
    background: rgb(253,66,86);
    background: -moz-linear-gradient(135deg, rgba(253,66,86,1) 0%, rgba(8,71,255,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(253,66,86,1) 0%, rgba(8,71,255,1) 100%);
    background: linear-gradient(135deg, rgba(253,66,86,1) 0%, rgba(8,71,255,1) 100%);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    transition: all 0.3s ease;
}

li {
padding: 16px 0px 16px 0px;
}

.side-navigation {
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-size: 16px;
    position: fixed;
    top: 175px;
    left: 3%;
    display: flex;
}

.side-navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    list-style: none;
}


.pre-title {
    margin-top: 48px;
    font-size: 14px;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    position: relative;
}

.pre-title-divider {
    margin-top: 32px;
    background-color: #F7EDF0;
}

.margin-top {
    margin-top: 32px;
}

h1, h2 {
    color: #44444e;
    font-family: montserrat,sans-serif;
    font-size: 54px;
    font-weight: 700;
    text-align: left;
}

h3 {
   color: #44444e;
    font-family: montserrat,sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-align: left; 
}


.logo-img-one img {
   height: auto;
    width: 100%;   
}

.logo-img-two img {
   height: auto;
    width: 100%;   
}

.colors {
    cursor: pointer;
}

.colors-text {
    font-family: montserrat,sans-serif;
font-size: 16px;
color: #44444E;
letter-spacing: 0;
    font-weight: 400;
opacity: 0.2;
    transition: all 0.5s ease;

}

.colors:hover > .colors-text {
    opacity: 1;
    transition: all 0.5s ease;
}

.big-gradient img {
    height: auto;
    width: 100%;
}

.backtotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
transform: translateY(50%);
opacity: 0;
}

.poptop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
transform: translateY(50%);
animation: backtotop 0.5s ease;
    animation-fill-mode: forwards;
opacity: 1;

}

.backtotop img {
    width: 58px;
    height: auto;
}

.poptop img {
    width: 58px;
    height: auto;
}

.wegpop img {
    width: 58px;
    height: auto;
}

.backtotop img:hover {
    transform: rotate(360deg);
    transition: 0.5s ease;
}

.poptop img:hover {
    transform: rotate(360deg);
    transition: 0.5s ease;

}

.wegpop {
    position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
transform: translateY(0%);
animation: disappear 0.5s ease;
    animation-fill-mode: forwards;

}


@keyframes backtotop {
    
    50% {
        transform: translateY(-50%);
opacity: 1;
    }


    100% {
        transform: translateY(0%);
opacity:1;
    }
}

@keyframes disappear {
    
    50% {
        transform: translateY(-50%);
opacity: 1;
    }


    100% {
        transform: translateY(0%);
opacity: 0;
    }
}


@media (max-width: 1440px){
.side-navigation {
    display: none;
}
}
    
    @media (min-width: 1200px){
.col-md-12-new {
    width: 100%;
}
}

 @media (max-width: 768px){
h1, h2 {
    font-size: 42px;
}
     .colors-text {
         opacity: 1;
         font-size: 14px;
     }
}