.venue-hero {
    background-image: url(assets/images/venue-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.venue-gallery {
     padding: 0 !important;
}

.venue-gallery img {
    width: 100vw;
}

.venue-map img {
        width: 75%;
}

.directions-button {
padding: 72px 0 42px 0;
}
